@import url('https://fonts.googleapis.com/css?family=Sacramento|Underdog&display=swap');

body{
  background-color:black
 ;
  font-family: 'Underdog', cursive;
}
body{
  text-align: center;
  font-size: 300%;
  margin-left: 500px;
  margin-right: 500px;
}
h1{
  font-size: 300%;
  color: orange;


}
h2{font-size: 100%;
  color: grey;
}

h4{
  font-size: 100%;
  color: orange;


}
h5{font-size: 50%;
  color: grey;
}

h3{
  color:white;
  font-family: 'Sacramento', cursive;
}
p{
  font-size: 100%;
  color: white;
  font-weight:300;
}
p1{
  font-size: 80%;
  color: white;
  font-weight:300;
}

.div1{text-align:right}
.container{

max-width: 1000px;

margin: 0 auto;

}

a{
  color:  lightyellow;
  text-decoration: none;
}
a:hover{
  color:orange;
  background-color: lightyellow;
}
a:active{
  color:lightyellow;
  }
